<div class="ui two column very relaxed grid">
  <div class="column">
    <h2 class="ui teal header">Edit Your Account</h2>
    <%= form_for(current_employee, url: employee_path(current_employee), html: { method: :put, class: "ui form" }) do |f| %>		
      <div class="field">		
        <%= f.label :email %><br />		
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>		
      </div>	
      
      <div class="field">		
        <%= f.label :name %><br />		
        <%= f.text_field :name, autocomplete: "name" %>		
      </div>
      
      <h4 class="ui header">Leave Date</h4>
      <div class="three fields">
        
        <div class="field">
          <label>Year</label>
          <%= select_year(
            (current_employee.left_at&.year || Date.today.year), 
            prefix: :employee, 
            field_name: "left_at(1i)"
          ) %>
        </div>
        
        <div class="field">
          <label>Month</label>
          <%= select_month(
            (current_employee.left_at&.month || Date.today.month), 
            prefix: :employee, 
            field_name: "left_at(2i)"
          ) %>
        </div>
        
        <div class="field">
          <label>Day</label>
          <%= select_day(
            (current_employee.left_at&.day || Date.today.day), 
            prefix: :employee, 
            field_name: "left_at(3i)" 
          ) %>
        </div>
      </div>	

      <div class="ui divider"></div>

      <div class="field">
        <label>Profile Photo</label>
        <%= f.file_field :custom_profile_photo, id: "profile-photo-input" %>	
      </div>

      <div class="field">		
        <%= f.label :about_me %><br />		
        <%= f.text_area :about_me %>
      </div>

      <div class="actions">		
        <%= f.submit "Update", class: "ui primary button" %>		
      </div>		
    <% end %>		
  </div>
  <div class="column">
    <div class="ui fluid card">
      <div class="image">
        <img src="<%= current_employee.profile_photo_url %>">
      </div>
      <div class="content">
        <strong class="ui header">Group:</strong>
        <% if current_employee.company.present? %>
          <%= current_employee.company.name %>
        <% else %>
          You are not part of any company.
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="ui segment">
  <%= link_to registration_path(:employee), method: :delete do %>
    <button class="ui red button">
      Cancel my account
    </button>
  <% end %>
</div>