<div class="ui two column very relaxed grid">
  <div class="column">
    <h2 class="ui teal header">Edit Your Account</h2>
    <%= form_for(current_employee, url: employee_path(current_employee), html: { method: :put, class: "ui form" }) do |f| %>				
      <h3 class="ui grey header">General Info</h3>
      
      <div class="field">		
        <%= f.label :email %><br />		
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>		
      </div>	
      
      <div class="field">		
        <%= f.label :name %><br />		
        <%= f.text_field :name, autocomplete: "name" %>		
      </div>
      
      <h3 class="ui grey header">Company Info</h3>
      <div class="field">		
        <%= f.label :location %><br />	
        <%= collection_select(:employee, :location_id, current_employee.company.locations, :id, :name) %>
      </div>

      <div class="field">		
        <%= f.label :department %><br />		
        <%= collection_select(:employee, :department_id, current_employee.company.departments, :id, :name) %>		
      </div>

      <div class="field">		
        <%= f.label :team %><br />		
        <%= collection_select(:employee, :team_id, current_employee.company.teams, :id, :name) %>		
      </div>

      <div class="field">		
        <%= f.label :position %><br />		
        <%= collection_select(:employee, :position_id, current_employee.company.positions, :id, :name) %>		
      </div>

      <div class="actions">		
        <%= f.submit "Update", class: "ui primary button" %>		
      </div>		
    <% end %>		
  </div>
  <div class="column">
    <div class="ui fluid card">
      <div class="image">
        <img src="<%= current_employee.google_profile_photo_url %>">
      </div>
      <div class="content">
        <strong class="ui header">Company:</strong>
        <% if current_employee.company.present? %>
          <%= current_employee.company.name %>
        <% else %>
          You are not part of any company.
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="ui segment">
  <%= link_to registration_path(:employee), method: :delete do %>
    <button class="ui red button">
      Cancel my account
    </button>
  <% end %>

  <%= link_to :back do %>
    <button class="ui secondary button">
      <i class="arrow left icon"></i>
      back
    </button>
  <% end %>
</div>