<h2 class="ui teal header">People at <%= current_employee.company.name %></h2>
<div class="ui four stackable cards">
  <%- @employees.each do |employee| %>
    <div class="card">
      <div class="image">
        <img src="<%= employee.profile_photo_url %>">
      </div>
      <div class="content">
        <div class="header"><%= employee.name %></div>
        <div class="meta">
          <p>Joined on <%= employee.created_at.strftime("%B %-d") %></p>
        </div>
        <div class="description">
          <%- if employee.about_me.present? %>
            <p><%= employee.about_me %></p>
          <% else %>
            <p>No Description available.</p>
          <% end %>
        </div>
      </div>
      <div class="extra content">
        <%- if employee.left_at.present? %>
          <p>Here until <%= employee.left_at.strftime("%B %-d") %></p>
        <% else %>
          <p>Here until who knows..</p>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
