<!DOCTYPE html>
<html>
  <head>
    <title>GuessWho</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%- if current_employee %>
      <%= render "layouts/menu" %>
    <% end %>
    <div class="ui raised padded container segment">
      <%= yield %>
    </div>
  </body>
</html>
